@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 223.8136 -172.5242% 100%;
    --foreground: 223.8136 0% 3.9388%;
    --card: 223.8136 0.0002% 96.0587%;
    --card-foreground: 223.8136 0% 3.9388%;
    --popover: 223.8136 -172.5242% 100%;
    --popover-foreground: 223.8136 0% 3.9388%;
    --primary: 324.9505 80.8% 50.9804%;
    --primary-foreground: 223.8136 0.0004% 98.0256%;
    --secondary: 223.8136 0.0002% 96.0587%;
    --secondary-foreground: 223.8136 0% 9.0527%;
    --muted: 223.8136 0.0002% 96.0587%;
    --muted-foreground: 223.8136 0% 45.1519%;
    --accent: 223.8136 0.0002% 96.0587%;
    --accent-foreground: 223.8136 0% 9.0527%;
    --destructive: 351.7303 123.6748% 40.5257%;
    --destructive-foreground: 223.8136 -172.5242% 100%;
    --success: 144, 100%, 39%;
    --success-foreground: 223.8136 -172.5242% 100%;
    --border: 223.8136 0.0001% 89.8161%;
    --input: 223.8136 0.0001% 89.8161%;
    --ring: 223.8136 0% 63.0163%;
    --radius: 0.5rem;
  }

  .dark:root {
    --background: 223.8136 0% 3.9388%;
    --foreground: 223.8136 0.0004% 98.0256%;
    --card: 223.8136 0% 9.0527%;
    --card-foreground: 223.8136 0.0004% 98.0256%;
    --popover: 223.8136 0% 14.9382%;
    --popover-foreground: 223.8136 0.0004% 98.0256%;
    --primary: 324.9505 80.8% 50.9804%;
    --primary-foreground: 223.8136 0.0004% 98.0256%;
    --secondary: 223.8136 0% 14.9382%;
    --secondary-foreground: 223.8136 0.0004% 98.0256%;
    --muted: 223.8136 0% 14.9382%;
    --muted-foreground: 223.8136 0% 63.0163%;
    --accent: 223.8136 0% 25.0471%;
    --accent-foreground: 223.8136 0.0004% 98.0256%;
    --destructive: 351.7303 123.6748% 40.5257%;
    --destructive-foreground: 223.8136 -172.5242% 100%;
    --success: 144, 100%, 39%;
    --success-foreground: 223.8136 -172.5242% 100%;
    --border: 223.8136 0% 15.5096%;
    --input: 223.8136 0% 20.3885%;
    --ring: 223.8136 0% 45.1519%;
  }
}

@layer components {
  .gradient-text {
    @apply bg-gradient-to-r from-primary to-pink-400 bg-clip-text text-transparent;
    line-height: 1.2;
  }

  .hero-gradient {
    background: linear-gradient(135deg, hsl(var(--background)) 0%, hsl(var(--muted)) 100%);
  }

  .card-hover {
    @apply transition-all duration-300 hover:scale-105 hover:shadow-xl;
  }
}
